@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
  font-size: 1.7rem;
  background-image: linear-gradient(to bottom, orange, whitesmoke);
}

body {
  min-height: 100vh;
  max-width: 1200px;
  border: 1px solid #333;
  background-color: whitesmoke;
  margin: 0 auto;
  box-shadow: 0 0 10px #333;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.offscreen {
  position: absolute;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

h1 {
  font-family: "Fugaz One", cursive;
  letter-spacing: 0.1em;
  color: whitesmoke;
}

h2,
h3 {
  letter-spacing: 0.1rem;
  color: #000;
}

.about_h2 {
  margin-bottom: 1em;
  letter-spacing: 0.1rem;
  color: #000;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.header__h1 {
  text-align: center;
  background-color: black;
  color: whitesmoke;
}

.header__h1::before {
  content: "🌷 ";
}

.header__h1::after {
  content: " 🌷 ";
}

.header__nav {
  background-color: #333;
  color: whitesmoke;
  font-weight: bold;
}

.header__ul {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  list-style-type: none;
  padding: 10px;
}

.a:any-link {
  color: whitesmoke;
}

.a:hover,
.a:active,
.a:focus {
  text-decoration: none;
  color: dodgerblue;
}

p {
  line-height: 1.5;
}

.footer {
  position: sticky;
  bottom: 0;
  background-color: black;
  color: whitesmoke;
  padding: 7px;
  text-align: center;
}

main {
  min-height: 100vh;
  padding: 30px;
}

.main__contact {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  width: 90%;
  max-width: 1200px;
}

.input-group {
  margin-bottom: 30px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid #000;
  background: transparent;
  font-size: 30px;
  font-weight: 600;
  border-radius: 10px;
}

label {
  height: 100%;
  top: 0;
  left: 0;
  padding: 10px;
  color: #000;
  cursor: text;
}

.button {
  padding: 10px 0;
  color: #000;
  outline: none;
  border: 1px solid #000;
  width: 100%;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

.search_flower {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.contact_label {
  height: 100%;
  top: 0;
  left: 0;
  padding: 10px;
  color: #000;
  cursor: text;
}

.index_label {
  font-weight: 600;
  font-size: 1.5rem;
}

select,
option {
  font-style: italic;
  font-size: 1.3rem;
  border-radius: 10px;
}

.index_submit {
  position: absolute;
  font-size: 1em;
  padding: 4px;
  margin-top: 3px;
  margin-left: 10px;
}

.index_h3 {
  color: #777;
  text-decoration: underline;
}

.six_images {
  display: flex;
  margin: 0 auto;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.six_images_img {
  border: 6px solid #000;
  gap: 1rem;
  border-radius: 30px;
  margin: 1em;
}

.flower_header {
  display: flex;
  flex-flow: row wrap;
}

.index_flower_h2 {
  text-decoration: underline;
}

.index_flower_p {
  margin-left: 10px;
  margin-top: 8px;
}

table {
  margin: 1em auto 0 auto;
  border: 5px solid #000;
  border-collapse: collapse;
}

th {
  font-size: 1.8rem;
  padding: 10px;
  border: 5px solid #000;
}

td {
  border: 5px solid #000;
  padding: 10px;
  text-align: center;
  font-size: 1.3rem;
}

.flower_p {
  font-size: 1.3rem;
}

.flower_type_image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em auto;
}

.flower_type_image_img {
  border: 5px solid #333;
  border-radius: 30px;
  width: 800px;
}

.flower_a {
  color: #000;
  display: flex;
  margin: 1em 0;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.flower_a:hover,
.flower_a:focus {
  text-decoration: none;
  color: dodgerblue;
}

.detector_contain {
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 40px;
}

/* Hide the file input field */
input[type="file"] {
  position: absolute;
  left: -1000000px;
}

/* Style the label as a button */
.detector_label {
  background-color: whitesmoke;
  border: 3px solid #000;
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 1.3rem;
}

.detector_label:hover,
.detector_label:focus {
  background-color: #000;
  border: 3px solid whitesmoke;
  color: whitesmoke;
  transition: all 0.7s ease;
}

/* Style the submit button */

.detector_submit {
  background-color: #000;
  border: 3px solid white;
  color: whitesmoke;
  border-radius: 15px;
  padding: 13px 20px;
  font-size: 1.3rem;
  font-weight: 300;
  height: 100%;
  width: auto;
  margin-left: 10px;
}

.detector_submit:hover,
.detector_submit:focus {
  background-color: whitesmoke;
  color: #000;
  border: 3px solid #000;
  transition: all 0.7s ease;
}

.detector_result {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  margin: 40px;
}

.result_img {
  width: 500px;
  border: 5px solid #000;
  border-radius: 10px;
  margin-bottom: 20px;
}

.result_p {
  font-size: 1.3rem;
}

.result_a {
  margin: 0 auto;
}

.begin_detector_img {
  margin: 50px auto 0 auto;
}

.denemeking {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -90px;
}

.mic__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100%;
  padding: 10px 20px;
  border: 1px solid #000;
  color: #000;
  text-decoration: none;
  background-color: #ddd;
  border-radius: 10px;
}

.speechdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: -10px auto 20px auto;
}
